a {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}

body {
  margin: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/* You can add global styles to this file, and also import other style files */
